* {
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    -webkit-text-stroke: 1px black;
    text-shadow: #000 0 0 10px;
}

header {
    display: flex;
    text-align: center;
    transition: .6s;
    height: 100vh;
}

header>* {
    flex: 1;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px 5px #000;
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    font-size: 3rem;
    flex: 1;
}

.panel>* {
    transition: .6s;
}

.panel p:nth-child(2) {
    font-size: 2em;
}

.panel.open {
    font-size: 4rem;
    padding: 7rem;
}

.panel>*:first-child {
    transform: translateY(-20rem);
}

.panel.open-active>*:first-child {
    transform: translateY(0rem);
}

.panel>*:last-child {
    transform: translateY(20rem);
}

.panel.open-active>*:last-child {
    transform: translateY(0rem);
}


/* .hey {
    transform: translateY(-10rem);
} */

.first-panel {
    background-image: url('./images/first.jpg');
}

.second-panel {
    background-image: url('./images/second.jpg');
}

.third-panel {
    background-image: url('./images/third.jpg');
}

.fourth-panel {
    background-image: url('./images/fourth.jpg');
}

.fifth-panel {
    background-image: url('./images/fifth.jpg');
}